<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.background.system.mapper.CaizhiMapper">
    <resultMap id="BaseResultMap" type="com.background.system.entity.Caizhi">
        <!--@Table caizhi-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        `name`,
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from caizhi
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from caizhi
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.background.system.entity.Caizhi"
            useGeneratedKeys="true">
        insert into caizhi (`name`)
        values (#{name,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.background.system.entity.Caizhi"
            useGeneratedKeys="true">
        insert into caizhi
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">
                `name`,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.background.system.entity.Caizhi">
        update caizhi
        <set>
            <if test="name != null and name != ''">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.background.system.entity.Caizhi">
        update caizhi
        set `name` = #{name,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="getMaterialQualitiesList" resultMap="BaseResultMap">
        select  <include refid="Base_Column_List"/>
        from caizhi
        <if test="page != null and size != null">
            limit #{page},#{size}
        </if>
    </select>

    <select id="countMaterialQualities" resultType="int">
        select count(*) from caizhi
    </select>

    <select id="getMaterialListByIds" resultMap="BaseResultMap">
        select  <include refid="Base_Column_List"/>
        from caizhi where id in
        <foreach collection="ids" item="key" index="index" open="(" close=")" separator=",">
            #{key,jdbcType=VARCHAR}
        </foreach>
    </select>
</mapper>