<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.background.system.mapper.OrderElementMapper">
  <resultMap id="BaseResultMap" type="com.background.system.entity.OrderElement">
    <!--@Table order_element-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="picuter_id" jdbcType="BIGINT" property="picuterId" />
    <result column="is_del" jdbcType="CHAR" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, goods_id, `number`, picuter_id, is_del, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_element
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from order_element
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.background.system.entity.OrderElement" useGeneratedKeys="true">
    insert into order_element (order_id, goods_id, `number`, 
      picuter_id, is_del, create_time
      )
    values (#{orderId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, #{number,jdbcType=INTEGER}, 
      #{picuterId,jdbcType=BIGINT}, #{isDel,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.background.system.entity.OrderElement" useGeneratedKeys="true">
    insert into order_element
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="number != null">
        `number`,
      </if>
      <if test="picuterId != null">
        picuter_id,
      </if>
      <if test="isDel != null and isDel != ''">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="picuterId != null">
        #{picuterId,jdbcType=BIGINT},
      </if>
      <if test="isDel != null and isDel != ''">
        #{isDel,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.background.system.entity.OrderElement">
    update order_element
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="number != null">
        `number` = #{number,jdbcType=INTEGER},
      </if>
      <if test="picuterId != null">
        picuter_id = #{picuterId,jdbcType=BIGINT},
      </if>
      <if test="isDel != null and isDel != ''">
        is_del = #{isDel,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.background.system.entity.OrderElement">
    update order_element
    set order_id = #{orderId,jdbcType=BIGINT},
      goods_id = #{goodsId,jdbcType=BIGINT},
      `number` = #{number,jdbcType=INTEGER},
      picuter_id = #{picuterId,jdbcType=BIGINT},
      is_del = #{isDel,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>