<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.background.system.mapper.PictureMapper">
    <resultMap id="BaseResultMap" type="com.background.system.entity.Picture">
        <!--@Table picture-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="father" jdbcType="VARCHAR" property="father"/>
        <result column="is_del" jdbcType="CHAR" property="isDel"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        `name`,
        url,
        father,
        is_del,
        create_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from picture
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from picture
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="insertSelective" parameterType="com.background.system.entity.Picture">
        insert into picture
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="url != null and url != ''">
                url,
            </if>
            <if test="father != null and father != ''">
                father,
            </if>
            <if test="isDel != null and isDel != ''">
                is_del,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="url != null and url != ''">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="father != null and father != ''">
                #{father,jdbcType=VARCHAR},
            </if>
            <if test="isDel != null and isDel != ''">
                #{isDel,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.background.system.entity.Picture">
        update picture
        <set>
            <if test="url != null and url != ''">
                url = #{url,jdbcType=VARCHAR},
            </if>

            <if test="father != null and father != ''">
                father = #{father,jdbcType=VARCHAR},
            </if>
            <if test="isDel != null and isDel != ''">
                is_del = #{isDel,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.background.system.entity.Picture">
        update picture
        set url         = #{url,jdbcType=VARCHAR},
            father      = #{father,jdbcType=VARCHAR},
            is_del      = #{isDel,jdbcType=CHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="getPicturesByIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from picture where is_del = 0
                       and id in
        <foreach collection="ids" item="key" index="index" open="(" close=")" separator=",">
            #{key,jdbcType=VARCHAR}
        </foreach>
    </select>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.background.system.entity.Picture"
            useGeneratedKeys="true">
        insert into picture (`name`, url, father, create_time)
        values (#{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{father,jdbcType=VARCHAR},
                #{createTime,jdbcType=TIMESTAMP})
    </insert>

    <select id="getIndexPicture" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from picture where father='index' and is_del=0 order by id desc limit 1
    </select>

    <update id="updateIndexPicture">
        update picture set url=#{url} where father='index' and id=#{id}
    </update>
</mapper>